body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #3f51b5;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.footer {
  background-color: #f4f4f4;
  color: #333;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.dashboard-container {
  display: flex;
  flex: 1;
  margin-top: 64px; /* Height of the header */
  margin-bottom: 50px; /* Height of the footer */
}

.sidebar {
  background-color: #f4f4f4;
  padding: 10px;
  width: 200px;
  flex-shrink: 0;
  height: calc(100vh - 114px); /* Full height minus header and footer */
  position: fixed;
  top: 64px; /* Below the header */
  bottom: 50px; /* Above the footer */
  overflow-y: auto;
}

.dashboard-content {
  padding: 20px;
  background-color: #f9f9f9;
  height: calc(100vh - 114px); /* Full height minus header and footer */
  overflow-y: auto; /* Make content scrollable */
}

.sidebar a {
  display: block;
  color: #333;
  padding: 10px 0;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #ddd;
}
