.correct {
  background-color: #d4edda; /* Lightest green */
  border: 1px solid #c3e6cb;
}

.incorrect {
  background-color: #f8d7da; /* Lightest red */
  border: 1px solid #f5c6cb;
}

.question-block {
  padding: 10px;
  margin-bottom: 15px;
}

.options {
  list-style-type: none;
  padding-left: 20px;
}

.option {
  position: relative;
  padding: 5px;
  display: flex;
  align-items: center;
}

.option label {
  display: flex;
  align-items: center;
}

.user-response {
  background-color: #d1ecf1; /* Lightest blue */
}

.response-icon {
  margin-left: 10px;
}

.correct-icon {
  color: green;
  margin-left: 10px;
}

.incorrect-icon {
  color: red;
  margin-left: 10px;
}

.notice-message {
  font-style: italic;
  font-size: 0.85em;
  text-align: center;
  color: #6c757d;
  margin-bottom: 15px;
}

.quiz-results {
  margin: 20px;
}

.actions {
  margin-bottom: 20px;
}

input[type='radio']:checked {
  accent-color: green; /* Custom radio button color for selected items */
}

.incorrect input[type='radio']:checked {
  accent-color: red; /* Custom radio button color for incorrect items */
}
