.correct {
  background-color: #d4edda; /* Lightest green */
  border: 1px solid #c3e6cb;
}

.incorrect {
  background-color: #f8d7da; /* Lightest red */
  border: 1px solid #f5c6cb;
}

.question-block {
  padding: 10px;
  margin-bottom: 15px;
}

.options {
  list-style-type: disc;
  padding-left: 20px;
}

.option {
  position: relative;
  padding: 5px;
}

.user-response {
  background-color: #d1ecf1; /* Lightest blue */
}

.correct-answer {
  background-color: #d4edda; /* Lightest green */
}

.response-icon {
  margin-left: 10px;
}

.correct-icon {
  color: green;
  margin-left: 10px;
}

.incorrect-icon {
  color: red;
  margin-left: 10px;
}

.quiz-results {
  margin: 20px;
}

.actions {
  margin-bottom: 20px; /* Add space between the buttons and the quiz questions */
}
